/* <button class="suporte"> */

button.suporte {
  font-family: var(--fonte-bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-principal);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--cor-branco);
  border: 2px solid var(--cor-principal);
  padding: 15px 25px;
  border-radius: 20px 20px 0 20px;
  transition: all 0.3s;
  z-index: 2;
}

button.suporte img {
  width: 100%;
  max-width: 30px;
  margin: 0 15px 0 0;
}

button.suporte:hover {
  color: var(--cor-principal);
  background-color: var(--cor-secundaria-2);
  border: 2px solid var(--cor-principal);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  button.suporte {
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
  }
  button.suporte img {
    max-width: 20px;
    margin: 0 12px 0 0;
  }
}
