/* <section class="dominio"> */

section.dominio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  width: 100%;
  background-color: var(--cor-claro);
  background-image: url('../../../../../files/images/pages/sobre-nos/background-2.png');
  background-size: cover;
  background-position: center;
}

section.dominio h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--cor-secundaria-2);
  text-align: center;
}

section.dominio h2 span {
  color: var(--cor-principal);
}

section.dominio p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-secundaria-2);
  line-height: 1.5;
  padding: 5px 0 30px 0;
  text-align: center;
}

section.dominio .input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 750px;
}

section.dominio .input img.cadeado {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
  width: 100%;
  max-width: 30px;
  pointer-events: none;
}

section.dominio .input h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-principal);
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translate(0, -50%);
  pointer-events: none;
}

section.dominio .input button {
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

section.dominio .input button img {
  width: 100%;
  max-width: 70px;
  pointer-events: none;
  transition: all 0.3s;
}

section.dominio .input button:hover img {
  opacity: 0.7;
  animation: imgButton 1s linear infinite;
}

@keyframes imgButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

section.dominio .input input {
  font-family: var(--fonte-bold);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-secundaria-2);
  background-color: var(--cor-branco);
  border-radius: 100px;
  padding: 40px 40px 40px 215px;
  width: 100%;
}

section.dominio .input input::placeholder {
  opacity: 1;
  color: var(--cor-secundaria-2);
}

section.dominio .input input:focus {
  color: var(--cor-principal);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.dominio {
    padding: 80px 20px;
  }
  section.dominio .input img.cadeado {
    display: none;
  }
  section.dominio .input h3 {
    font-size: clamp(0.8rem, 3vw, 1rem);
    left: 25px;
  }
  section.dominio .input button {
    right: 10px;
  }
  section.dominio .input button img {
    max-width: 45px;
  }
  section.dominio .input input {
    font-size: clamp(0.8rem, 3vw, 1rem);
    padding: 25px 25px 25px 107px;
  }
}