/* <section class="informacao"> */

section.informacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--cor-claro);
  background-image: url('../../../../../files/images/pages/sobre-nos/background-2.png');
  background-size: cover;
  background-position: center;
  padding: 100px 80px 40px 80px;
  position: relative;
  overflow: hidden;
}

section.informacao img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translate(0, -50%);
  animation: nuvemMexendo 30s linear infinite;
}

@keyframes nuvemMexendo {
  0% {
    transform: translate(30px, -50%);
  }
  50% {
    transform: translate(-30px, -50%);
  }
  100% {
    transform: translate(30px, -50%);
  }
}

section.informacao .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}

section.informacao .texto h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--cor-secundaria-2);
  line-height: 1.5;
}

section.informacao .texto p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-secundaria-2);
  line-height: 1.7;
  padding: 10px 0 40px 0;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.informacao {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 20px 20px;
  }
  section.informacao img {
    display: none;
  }
}