/* Global */
@import '../../global/global.css';

/* Elementos */
@import '../../elementos/nav.css';
@import '../../elementos/footer.css';

/* Sections */
@import '../../sections/section-duvidas.css';
@import '../../sections/section-pergunta.css';
@import '../../sections/section-configuracoes.css';
@import '../../sections/section-beneficios.css';
@import '../../sections/section-migrar.css';