/* 
<section class="apresentacao"> 
*/
section.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(90deg, var(--degrade-claro));
  background: -webkit-linear-gradient(90deg, var(--degrade-claro));
}
section.apresentacao.branco {
  background: var(--cor-branco);
}
section.apresentacao.escuro {
  background: var(--cor-escuro-1);
}
section.apresentacao.tres {
  min-height: 100dvh;
}
section.apresentacao.quatro {
  min-height: 70dvh;
}
section.apresentacao .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 60px 60px 60px;
  width: 50%;
}
section.apresentacao .texto .tag {
  display: flex;
  align-items: center;
}
section.apresentacao.tres .texto .tag {
  margin: 0 0 15px 0;
}
section.apresentacao.dois .texto .tag {
  margin: 0 0 15px 0;
}
section.apresentacao .texto .tag img {
  width: 100%;
  max-width: 15px;
  max-height: 15px;
  margin: 0 10px 0 0;
}
section.apresentacao .texto .tag.azul h3 {
  color: var(--cor-ciano);
}
section.apresentacao .texto .tag.vermelho h3 {
  color: var(--cor-vermelho);
}
section.apresentacao .texto .tag.laranja h3 {
  color: #e6b22e;
}
section.apresentacao .texto .tag h3 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-verde);
}
section.apresentacao .texto .tag h3 span {
  font-family: var(--semibold);
}
section.apresentacao .texto h1 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
  line-height: 1.3;
  margin: 15px 0 0 0;
  width: 100%;
  max-width: 600px;
}
section.apresentacao.tres .texto h1 {
  margin: 0;
}
section.apresentacao.dois .texto h1 {
  margin: 0;
}
section.apresentacao .texto h1 span {
  color: var(--cor-ciano);
}
section.apresentacao.escuro .texto h1 {
  color: var(--cor-branco);
}
section.apresentacao.escuro .texto p {
  color: var(--cor-branco);
}
section.apresentacao .texto p {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 10px 0 0 0;
  width: 100%;
  max-width: 600px;
}
section.apresentacao .texto a {
  display: flex;
  align-items: center;
  background-color: var(--cor-ciano);
  padding: 10px 25px 10px 10px;
  border-radius: 50px;
  margin: 20px 0 0 0;
  transition: all 0.3s;
}
section.apresentacao .texto a:hover {
  filter: brightness(110%);
}
section.apresentacao .texto a h3 {
  font-family: var(--bold);
  font-size: var(--f3);
  color: var(--cor-branco);
}
section.apresentacao .texto a .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  margin: 0 10px 0 0;
}
section.apresentacao .texto a .icone img {
  width: 100%;
  max-width: 20px;
}
section.apresentacao .texto .dominio {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 20px 0 0 0;
}
section.apresentacao .texto .dominio img {
  position: absolute;
  left: 20px;
  width: 15px;
  pointer-events: none;
}
section.apresentacao .texto .dominio h3 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-ciano);
  position: absolute;
  left: 50px;
  pointer-events: none;
}
section.apresentacao .texto .dominio input {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  padding: 25px 25px 25px 145px;
  border-radius: 10px;
  background-color: var(--cor-branco);
  box-shadow: 0 10px 30px 0 #2c2e421b;
  width: 100%;
  transition: all 0.3s;
}
section.apresentacao .texto .dominio input::placeholder {
  color: var(--cor-preto);
  opacity: 1;
}
section.apresentacao .texto .dominio input:focus {
  color: var(--cor-verde);
  box-shadow: 0 10px 30px 0 #2c2e4238;
}
section.apresentacao .texto button.confirmarDominio {
  display: flex;
  align-items: center;
  background-color: var(--cor-verde);
  padding: 20px 40px;
  border-radius: 50px;
  margin: 20px 0 0 0;
  transition: all 0.3s;
}
section.apresentacao .texto button.confirmarDominio:hover {
  background-color: var(--cor-musgo);
}
section.apresentacao .texto button.confirmarDominio img {
  width: 15px;
  margin: 0 10px 0 0;
}
section.apresentacao .texto button.confirmarDominio h3 {
  font-family: var(--bold);
  font-size: var(--f2);
  color: var(--cor-branco);
}
section.apresentacao .texto .quadrinhos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 70px 0 0 0;
}
section.apresentacao .texto .quadrinhos .quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background-color: var(--cor-branco);
  border-radius: 10px;
  border: 1px solid #0e0e101b;
  width: calc(33.33% - 10px);
}
section.apresentacao .texto .quadrinhos .quadro img {
  width: 100%;
  max-width: 30px;
  max-height: 30px;
  margin: 0 0 15px 0;
}
section.apresentacao .texto .quadrinhos .quadro h3 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  line-height: 1.5;
}
section.apresentacao .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
section.apresentacao .imagem.quatro {
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 600px;
}
section.apresentacao .imagem .sombra {
  position: absolute;
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #1A2533, #1A253300);
  background: -webkit-linear-gradient(0deg, #1A2533, #1A253300);
  left: 0;
  top: 0;
}
section.apresentacao.tres .imagem img.homem {
  max-width: 190px;
}
section.apresentacao .imagem.dois img.homem {
  max-width: 250px;
  animation: homemApresentacaoDois 4s ease-in-out infinite;
}
section.apresentacao .imagem.dois img.homem.dois {
  margin: 0 0 0 20px;
  animation: homemApresentacaoDoisDois 4s ease-in-out infinite;
}
section.apresentacao.quatro .imagem img.homem {
  max-width: 200px;
}
section.apresentacao .imagem img.homem {
  width: 100%;
  max-width: 500px;
  z-index: 2;
  animation: homemApresentacao 4s ease-in-out infinite;
}
@keyframes homemApresentacao {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(-50px, 0);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes homemApresentacaoDois {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, 30px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes homemApresentacaoDoisDois {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, -30px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
section.apresentacao.tres .imagem img.nuvem {
  max-width: 400px;
}
section.apresentacao.quatro .imagem img.nuvem {
  max-width: 400px;
}
section.apresentacao .imagem img.nuvem {
  width: 100%;
  max-width: 650px;
  position: absolute;
  z-index: 1;
  animation: nuvemApresentacao 55s linear infinite;
}
@keyframes nuvemApresentacao {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
section.apresentacao .imagem .quadro {
  position: absolute;
  background-color: #ffffff50;
  border: 2px solid var(--cor-branco);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 4;
}
section.apresentacao .imagem .quadro img {
  width: 100%;
  max-width: 250px;
  animation: quadroApresentacao 2s linear infinite;
}
@keyframes quadroApresentacao {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(130%);
  }
  100% {
    filter: brightness(100%);
  }
}
section.apresentacao .imagem .quadro.um {
  top: 0;
  left: 5%;
}
section.apresentacao .imagem.dois .quadro.um {
  top: -80px;
}
section.apresentacao .imagem.dois .quadro.dois {
  bottom: -80px;
}
section.apresentacao .imagem .quadro.dois {
  bottom: 5%;
  right: 60px;
}
section.apresentacao .imagem img.wordpress {
  width: 100%;
  max-width: 40px;
  position: absolute;
  top: 10%;
  right: 20%;
  animation: iconeImagemApresentacaoWordpress 4s ease-in-out infinite;
}
section.apresentacao .imagem img.elementor {
  width: 100%;
  max-width: 40px;
  position: absolute;
  left: 30%;
  top: 40%;
  animation: iconeImagemApresentacaoElementor 4s ease-in-out infinite;
}
section.apresentacao .imagem img.foguete {
  width: 100%;
  max-width: 40px;
  position: absolute;
  right: 25%;
  bottom: 35%;
  animation: iconeImagemApresentacaoFoguete 4s ease-in-out infinite;
}
@keyframes iconeImagemApresentacaoWordpress {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(20px, 0);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes iconeImagemApresentacaoElementor {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, 20px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes iconeImagemApresentacaoFoguete {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, -20px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
/* 
Responsivo 
*/
@media screen and (max-width: 1000px) {
  section.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.apresentacao .texto {
    align-items: center;
    text-align: center;
    padding: 60px 30px 40px 30px;
    width: 100%;
  }
  section.apresentacao .texto .tag img {
    max-width: 13px;
    margin: 0 8px 0 0;
  }
  section.apresentacao .texto .tag h3 {
    font-size: var(--f1);
  }
  section.apresentacao .texto h1 {
    font-size: var(--f5);
    max-width: 300px;
  }
  section.apresentacao.escuro .texto h1 {
    font-size: var(--f4);
    max-width: 270px;
  }
  section.apresentacao .texto p {
    font-size: var(--f2);
    max-width: 350px;
  }
  section.apresentacao.branco .texto p {
    max-width: 300px;
  }
  section.apresentacao.dois .texto p {
    max-width: 320px;
  }
  section.apresentacao.dois .texto h1 {
    max-width: 100%;
  }
  section.apresentacao .texto a {
    padding: 10px 35px 10px 10px;
    margin: 15px 0 0 0;
  }
  section.apresentacao .texto a h3 {
    font-size: var(--f2);
  }
  section.apresentacao .texto .dominio input {
    padding: 25px 25px 25px 132px;
  }
  section.apresentacao .texto .quadrinhos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 40px 0 0 0;
  }
  section.apresentacao .texto .quadrinhos .quadro {
    padding: 25px 15px;
    width: calc(33.33% - 5px);
  }
  section.apresentacao .texto .quadrinhos .quadro img {
    max-width: 25px;
    max-height: 25px;
  }
  section.apresentacao .texto .quadrinhos .quadro h3 {
    font-size: var(--f1);
  }
  section.apresentacao .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0 70px 0;
    position: relative;
  }
  section.apresentacao.quatro .imagem {
    padding: 0 0 40px 0;
  }
  section.apresentacao .imagem.quatro {
    min-height: 300px;
  }
  section.apresentacao .imagem .sombra {
    height: 60%;
    width: 100%;
    background: linear-gradient(-90deg, #1A2533, #1A253300);
    background: -webkit-linear-gradient(-90deg, #1A2533, #1A253300);
  }
  section.apresentacao.tres .imagem {
    padding: 0 0 40px 0;
  }
  section.apresentacao.tres .imagem img.homem {
    max-width: 130px;
  }
  section.apresentacao .imagem.dois img.homem {
    max-width: 150px;
  }
  section.apresentacao.tres .imagem img.homem {
    max-width: 300px;
  }
  section.apresentacao .imagem.dois img.homem.dois {
    margin: 0 0 0 10px;
  }
  section.apresentacao.quatro .imagem img.homem {
    max-width: 130px;
  }
  section.apresentacao.quatro .imagem img.nuvem {
    max-width: 280px;
  }
  section.apresentacao .imagem img.homem {
    max-width: 300px;
  }
  @keyframes homemApresentacao {
    0% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
    50% {
      filter: brightness(110%);
      transform: translate(-30px, 0);
    }
    100% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
  }
  section.apresentacao.tres .imagem img.nuvem {
    max-width: 250px;
  }
  section.apresentacao .imagem img.nuvem {
    max-width: 350px;
  }
  section.apresentacao .imagem.dois .quadro.um {
    top: 0;
  }
  section.apresentacao .imagem.dois .quadro.dois {
    bottom: 30px;
  }
  section.apresentacao .imagem .quadro {
    background-color: #ffffff87;
    padding: 15px 20px;
  }
  section.apresentacao .imagem .quadro img {
    max-width: 120px;
  }
  section.apresentacao .imagem .quadro.um {
    top: 0;
    left: 30px;
  }
  section.apresentacao .imagem .quadro.dois {
    bottom: 50px;
    right: 30px;
  }
  section.apresentacao .imagem img.wordpress {
    max-width: 30px;
  }
  section.apresentacao .imagem img.elementor {
    max-width: 30px;
  }
  section.apresentacao .imagem img.foguete {
    max-width: 30px;
  }
}
