/* 
<section class="planos"> 
*/
section.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 100%;
  background-color: var(--cor-gelo);
  border-top: 1px solid #14113724;
  overflow: hidden;
}
section.planos .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 0 70px 0;
}
section.planos.tres .titulo {
  padding: 0 0 40px 0;
}
section.planos .titulo h2 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
  line-height: 1.3;
}
section.planos .titulo h2 span {
  color: var(--cor-ciano);
}
section.planos .titulo p {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 5px 0 20px 0;
  width: 100%;
  max-width: 700px;
}
section.planos .titulo .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 70px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: var(--cor-branco);
  position: relative;
  cursor: pointer;
}
section.planos .titulo .toggle .parte {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  z-index: 2;
}
section.planos .titulo .toggle .parte h3 {
  font-family: var(--semibold);
  font-size: var(--f2);
  color: var(--cor-branco);
  transition: all 0.6s;
}
section.planos .titulo .toggle .parte.um h3 {
  padding: 0 10px 0 0;
}
section.planos .titulo .toggle:hover .parte.dois h3 {
  color: var(--cor-laranja);
}
section.planos .titulo .toggle span {
  position: absolute;
  height: 50px;
  right: 180px;
  width: 160px;
  background-color: #2FC9D4;
  box-shadow: 0 5px 20px 0 #2FC9D46f;
  border-radius: 50px;
  z-index: 1;
  transition: all 0.6s;
}
section.planos .titulo .toggle.ativo .parte.um h3 {
  color: var(--cor-preto);
}
section.planos .titulo .toggle.ativo .parte.dois h3 {
  color: var(--cor-branco);
}
section.planos .titulo .toggle.ativo:hover .parte.um h3 {
  color: var(--cor-ciano);
}
section.planos .titulo .toggle.ativo span {
  width: 180px;
  right: 10px;
  background-color: #F3B51A;
  box-shadow: 0 5px 20px 0 #f3b61a6f;
}
section.planos .titulo .toggle .parte.dois h3 {
  color: var(--cor-preto);
}
section.planos .titulo .toggle .parte img {
  width: 16px;
  margin: 0 10px 0 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
}
/* Itens */
section.planos.animar .itens {
  animation: itensPlanos 1s ease-in-out;
}
@keyframes itensPlanos {
  0% {
    opacity: 0;
    transform: translate(0, 250px);
  }
}
section.planos .itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section.planos.dois .itens {
  max-width: 1100px;
}
section.planos.dois .itens .item {
  width: calc(33.33% - 10px);
}
section.planos.tres .itens {
  max-width: 700px;
}
section.planos.tres .itens .item {
  width: calc(50% - 10px);
  padding: 50px 25px 0 25px;
}
section.planos .itens .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
  padding: 25px;
  border-radius: 10px;
  width: calc(25% - 10px);
  position: relative;
}
section.planos.tres .itens .item.destaque {
  background: linear-gradient(-90deg, #2FC9D4 50%, #fff 80%);
  background: -webkit-linear-gradient(-90deg, #2FC9D4 50%, #fff 80%);
}
section.planos .itens .item.destaque {
  background: linear-gradient(-90deg, #2FC9D4 20%, #fff 50%);
  background: -webkit-linear-gradient(-90deg, #2FC9D4 20%, #fff 50%);
}
section.planos .itens .item .nome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  background-color: var(--cor-branco);
  padding: 20px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 220px;
  box-shadow: 0 10px 30px 0 #0c112e13;
}
section.planos .itens .item .nome img {
  width: 100%;
  max-width: 15px;
  margin: 0 10px 0 0;
}
section.planos .itens .item .nome p {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
}
section.planos .itens .item .nome p span {
  font-family: var(--semibold);
}
section.planos .itens .item .nome h4 {
  font-family: var(--bold);
  font-size: var(--f1);
  color: var(--cor-branco);
  background-color: #33B0B8;
  padding: 5px 15px;
  border-radius: 50px;
  position: absolute;
  bottom: -15px;
}
section.planos .itens .item .subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 90px;
  padding: 30px 0 0 0;
}
section.planos .itens .item.destaque .subtitulo p {
  font-family: var(--semibold);
  color: var(--cor-branco);
}
section.planos .itens .item .subtitulo p {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-preto);
  line-height: 1.5;
}
section.planos .itens .item.destaque .preco h3 {
  color: var(--cor-branco);
}
section.planos .itens .item.destaque .preco h4 {
  color: var(--cor-branco);
}
section.planos .itens .item.destaque .preco h2 {
  color: var(--cor-branco);
}
section.planos .itens .item.destaque .preco .parte p {
  color: var(--cor-branco);
}
section.planos .itens .item .preco {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
  overflow: hidden;
  min-height: 100px;
}
section.planos.tres .itens .item .preco {
  margin: 10px 0 0 0;
  min-height: 80px;
}
section.planos.ativo .itens .item .preco .mensal {
  left: -300px;
}
section.planos.ativo .itens .item .preco .anual {
  left: 0;
}
section.planos .itens .item .preco .mensal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 0 20px 0;
  transition: all 0.6s;
}
section.planos .itens .item .preco .anual {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 300px;
  width: 100%;
  padding: 0 0 20px 0;
  transition: all 0.6s;
}
section.planos .itens .item .preco h3 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
}
section.planos .itens .item .preco h4 {
  font-family: var(--semibold);
  font-size: var(--f5);
  color: var(--cor-preto);
}
section.planos .itens .item .preco h6 {
  font-family: var(--semibold);
  font-size: var(--f2);
  color: var(--cor-musgo);
  margin: 3px 0 0 0;
}
section.planos .itens .item.destaque .preco h6 {
  color: var(--cor-branco);
}
section.planos .itens .item.destaque .preco h5 {
  font-family: var(--semibold);
  color: var(--cor-branco);
}
section.planos .itens .item .preco h5 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  position: absolute;
  bottom: 0px;
}
section.planos .itens .item .preco h2 {
  font-family: var(--semibold);
  font-size: var(--f7);
  color: var(--cor-preto);
  margin: 5px 8px 0 8px;
}
section.planos .itens .item .preco .parte:nth-child(1) {
  align-items: flex-end;
  text-align: right;
}
section.planos .itens .item .preco .parte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section.planos .itens .item .preco .parte p {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  margin: 5px 0 0 0;
}
section.planos .itens .item .botao {
  width: 100%;
  margin: 0 0 30px 0;
}
section.planos.ativo .itens .item .botao a {
  background-color: var(--cor-ciano);
}
section.planos .itens .item .botao a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-musgo);
  padding: 22px 0;
  border-radius: 50px;
  transition: all 0.3s;
}
section.planos .itens .item .botao a:hover {
  background-color: var(--cor-verde);
}
section.planos .itens .item.destaque .botao a {
  background-color: var(--cor-escuro-2);
}
section.planos .itens .item.destaque .botao a:hover {
  background-color: var(--cor-escuro-3);
}
section.planos .itens .item .botao a img {
  width: 15px;
  margin: 0 10px 0 0;
}
section.planos .itens .item .botao a p {
  font-family: var(--semibold);
  font-size: var(--f1);
  color: var(--cor-branco);
}
section.planos .itens .item .beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section.planos .itens .item .beneficios p {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-preto);
  padding: 0 0 20px 0;
  border-bottom: 1px solid #100f2c2c;
  width: 100%;
  text-align: center;
}
section.planos .itens .item .beneficios p span {
  font-family: var(--semibold);
}
section.planos .itens .item .beneficios .parte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #100f2c2c;
}
section.planos .itens .item .beneficios .parte h3 {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-preto);
}
section.planos .itens .item .beneficios .parte h4 {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-preto);
  text-align: right;
}
section.planos .itens .item .plugins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 0 0;
}
section.planos .itens .item .plugins .quadrinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--cor-gelo);
  position: relative;
  width: calc(33.33% - 5px);
}
section.planos .itens .item .plugins .quadrinho img {
  width: 100%;
  max-width: 25px;
  max-height: 25px;
  margin: 0 0 10px 0;
}
section.planos .itens .item .plugins .quadrinho p {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-preto);
  margin: 5px 0 0 0;
}
section.planos .itens .item .plugins .quadrinho.sem {
  background-color: #fbf0f0;
}
section.planos .itens .item .plugins .quadrinho.sem p {
  color: var(--cor-vermelho);
}
section.planos .itens .item .plugins .quadrinho img.icone {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  max-width: 15px;
  max-height: 15px;
}
section.planos a.detalhes {
  display: flex;
  align-items: center;
  background-color: var(--cor-ciano);
  padding: 10px 25px 10px 10px;
  border-radius: 50px;
  margin: 60px 0 0 0;
  position: relative;
  transition: all 0.3s;
}
section.planos a.detalhes:hover {
  filter: brightness(110%);
}
section.planos a.detalhes h3 {
  font-family: var(--bold);
  font-size: var(--f3);
  color: var(--cor-branco);
}
section.planos a.detalhes .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  margin: 0 10px 0 0;
}
section.planos a.detalhes .icone img {
  width: 100%;
  max-width: 20px;
}
section.planos a.detalhes span {
  position: absolute;
  width: 30dvw;
  height: 2px;
  background-color: var(--cor-ciano);
  pointer-events: none;
}
section.planos a.detalhes span.um {
  left: -33dvw;
}
section.planos a.detalhes span.dois {
  right: -33dvw;
}
/* 
Responsivo 
*/
@media screen and (max-width: 1000px) {
  section.planos {
    padding: 50px 30px 40px 30px;
  }
  section.planos .titulo {
    width: 100%;
    max-width: 1000px;
    padding: 0 0 50px 0;
  }
  section.planos .titulo h2 {
    font-size: var(--f5);
    line-height: 1.5;
    width: 100%;
    max-width: 300px;
  }
  section.planos .titulo p {
    font-size: var(--f2);
    width: 100%;
    max-width: 330px;
  }
  section.planos .titulo .toggle {
    width: 320px;
    height: 60px;
    padding: 0 20px;
  }
  section.planos .titulo .toggle .parte h3 {
    font-size: var(--f1);
  }
  section.planos .titulo .toggle span {
    right: 155px;
    width: 160px;
  }
  section.planos .titulo .toggle.ativo span {
    width: 160px;
    right: 5px;
  }
  /* Itens */
  section.planos .itens {
    flex-direction: column;
  }
  section.planos .itens .item {
    padding: 25px;
    width: 100%;
    margin: 0 0 40px 0;
  }
  section.planos.dois .itens .item {
    width: 100%;
  }
  section.planos.tres .itens .item {
    width: 100%;
    padding: 30px 25px 5px 25px;
  }
  section.planos .itens .item.destaque {
    background: linear-gradient(-90deg, #2FC9D4 10%, #fff 40%);
    background: -webkit-linear-gradient(-90deg, #2FC9D4 10%, #fff 40%);
  }
  section.planos .itens .item .nome {
    top: -20px;
    padding: 16px 25px;
    max-width: 220px;
  }
  section.planos .itens .item .nome img {
    max-width: 16px;
  }
  section.planos .itens .item .nome p {
    font-size: var(--f2);
  }
  section.planos .itens .item .subtitulo {
    min-height: auto;
    padding: 30px 0 0 0;
  }
  section.planos .itens .item .subtitulo p {
    max-width: 250px;
    font-size: var(--f2);
  }
  section.planos.dois .itens .item .subtitulo p {
    max-width: 350px;
  }
  section.planos.tres .itens .item .subtitulo p {
    max-width: 350px;
  }
  section.planos .itens .item .preco {
    margin: 0 0 10px 0;
  }
  section.planos .itens .item .preco h3 {
    font-size: var(--f5);
  }
  section.planos .itens .item .preco h4 {
    font-size: var(--f4);
  }
  section.planos .itens .item .preco h5 {
    bottom: 10px;
  }
  section.planos .itens .item .botao {
    width: 100%;
    margin: 0 0 25px 0;
  }
  section.planos .itens .item .botao a {
    padding: 20px 20px;
  }
  section.planos .itens .item .botao a img {
    width: 13px;
  }
  section.planos .itens .item .botao a p {
    font-size: var(--f2);
  }
  section.planos .itens .item .beneficios p {
    font-size: var(--f2);
    padding: 0 0 15px 0;
  }
  section.planos .itens .item .beneficios .parte {
    padding: 12px 0;
  }
  section.planos .itens .item .plugins {
    margin: 20px 0 0 0;
  }
  section.planos .itens .item .plugins .quadrinho {
    padding: 20px 15px;
    width: calc(33.33% - 5px);
  }
  section.planos .itens .item .plugins .quadrinho img {
    max-width: 30px;
    max-height: 30px;
  }
  section.planos a.detalhes {
    padding: 10px 35px 10px 10px;
    margin: 0 0 0 0;
  }
  section.planos a.detalhes h3 {
    font-size: var(--f2);
  }
}
