section.migrar {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-escuro-1);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 130px 60px 60px 60px;
}
section.migrar.dois {
  padding: 60px;
}
section.migrar img.divisor {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
}
section.migrar img.vetor {
  width: 100%;
  max-width: 650px;
  margin: 0 40px 0 0;
}
section.migrar.animar .quadro {
  animation: quadroMigrar 1s ease-in-out;
}
@keyframes quadroMigrar {
  0% {
    opacity: 0;
    transform: translate(-50px, 0);
  }
}
section.migrar .quadro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: var(--cor-escuro-2);
  border-radius: 10px;
  padding: 40px;
}
section.migrar .quadro .tag {
  display: flex;
  align-items: center;
}
section.migrar .quadro .tag .bolinha {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  border: 3px solid #ffec3e;
  margin: 0 10px 0 0;
}
section.migrar .quadro .tag h3 {
  font-family: var(--light);
  font-size: var(--f1);
  color: #ffec3e;
}
section.migrar .quadro .tag h3 span {
  font-family: var(--semibold);
}
section.migrar .quadro h2 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-branco);
  line-height: 1.3;
  width: 100%;
  max-width: 400px;
  margin: 10px 0 5px 0;
}
section.migrar .quadro h2 span {
  color: var(--cor-ciano);
}
section.migrar .quadro p {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-branco);
  line-height: 1.5;
}
section.migrar .quadro a {
  display: flex;
  align-items: center;
  background-color: var(--cor-ciano);
  padding: 10px 25px 10px 10px;
  border-radius: 50px;
  margin: 20px 0 0 0;
  transition: all 0.3s;
}
section.migrar .quadro a:hover {
  filter: brightness(110%);
}
section.migrar .quadro a h3 {
  font-family: var(--bold);
  font-size: var(--f3);
  color: var(--cor-branco);
}
section.migrar .quadro a .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  margin: 0 10px 0 0;
}
section.migrar .quadro a .icone img {
  width: 100%;
  max-width: 20px;
}
@media screen and (max-width: 1000px) {
  section.migrar {
    flex-direction: column;
    padding: 70px 30px 50px 30px;
  }
  section.migrar.dois {
    padding: 60px 30px;
  }
  section.migrar img.divisor {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
  }
  section.migrar img.vetor {
    margin: 40px 0 0 0;
  }
  section.migrar .quadro {
    width: 100%;
    padding: 35px 25px;
  }
  section.migrar .quadro h2 {
    font-size: var(--f5);
    max-width: 300px;
  }
  section.migrar .quadro p {
    font-size: var(--f2);
  }
  section.migrar .quadro a {
    padding: 10px 35px 10px 10px;
    margin: 15px 0 0 0;
  }
  section.migrar .quadro a h3 {
    font-size: var(--f2);
  }
}
