section.duvidas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(90deg, var(--degrade-claro));
  background: -webkit-linear-gradient(90deg, var(--degrade-claro));
  position: relative;
  overflow: hidden;
  padding: 80px 0 0 0;
}
section.duvidas.dois {
  background: linear-gradient(-90deg, var(--degrade-claro));
  background: -webkit-linear-gradient(-90deg, var(--degrade-claro));
}
section.duvidas img.divisor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
section.duvidas .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  width: 50%;
}
section.duvidas .texto h2 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
  line-height: 1.3;
}
section.duvidas .texto h2 span {
  color: var(--cor-ciano);
}
section.duvidas .texto p {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 5px 0 15px 0;
  width: 100%;
  max-width: 500px;
}
section.duvidas .texto .duvida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: var(--cor-branco);
  border-radius: 10px;
  border: 1px solid #0e0e101b;
  width: 100%;
  margin: 10px 0 0 0;
  transition: all 0.3s;
  cursor: pointer;
}
section.duvidas .texto .duvida:hover {
  border: 1px solid var(--cor-ciano);
}
section.duvidas .texto .duvida .nome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
section.duvidas .texto .duvida .nome img {
  width: 100%;
  max-width: 15px;
}
section.duvidas .texto .duvida .nome h3 {
  font-family: var(--semibold);
  font-size: var(--f2);
  color: var(--cor-preto);
  line-height: 1.5;
  padding: 0 20px 0 0;
}
section.duvidas .texto .duvida h4 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  line-height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0 0 0 0;
  transition: all 0.3s;
}
section.duvidas .texto .duvida.ativo h4 {
  line-height: 1.5;
  opacity: 1;
  visibility: visible;
  margin: 10px 0 0 0;
}
section.duvidas.animar .imagem {
  animation: imagemDuvidas 1s ease-in-out;
}
@keyframes imagemDuvidas {
  0% {
    opacity: 0;
  }
}
section.duvidas .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
section.duvidas .imagem.tres img.homem {
  max-width: 190px;
}
section.duvidas .imagem.dois img.homem {
  max-width: 250px;
  animation: homemApresentacaoDois 4s ease-in-out infinite;
}
section.duvidas .imagem.dois img.homem.dois {
  margin: 0 0 0 20px;
  animation: homemApresentacaoDoisDois 4s ease-in-out infinite;
}
section.duvidas .imagem img.homem {
  width: 100%;
  max-width: 500px;
  z-index: 2;
  animation: homemApresentacao 4s ease-in-out infinite;
}
@keyframes homemApresentacao {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(-50px, 0);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes homemApresentacaoDois {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, 30px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes homemApresentacaoDoisDois {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, -30px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
section.duvidas .imagem.tres img.nuvem {
  max-width: 450px;
}
section.duvidas .imagem img.nuvem {
  width: 100%;
  max-width: 650px;
  position: absolute;
  z-index: 1;
  animation: nuvemduvidas 55s linear infinite;
}
@keyframes nuvemduvidas {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
section.duvidas .imagem .quadro {
  position: absolute;
  background-color: #ffffff50;
  border: 2px solid var(--cor-branco);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 4;
}
section.duvidas .imagem .quadro img {
  width: 100%;
  max-width: 250px;
  animation: quadroduvidas 2s linear infinite;
}
@keyframes quadroduvidas {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(130%);
  }
  100% {
    filter: brightness(100%);
  }
}
section.duvidas .imagem.dois .quadro.um {
  top: -80px;
}
section.duvidas .imagem.dois .quadro.dois {
  bottom: -80px;
}
section.duvidas .imagem .quadro.um {
  top: 0;
  left: 5%;
}
section.duvidas .imagem .quadro.dois {
  bottom: 5%;
  right: 60px;
}
section.duvidas .imagem img.wordpress {
  width: 100%;
  max-width: 40px;
  position: absolute;
  top: 10%;
  right: 20%;
  animation: iconeImagemduvidasWordpress 4s ease-in-out infinite;
}
section.duvidas .imagem img.elementor {
  width: 100%;
  max-width: 40px;
  position: absolute;
  left: 30%;
  top: 40%;
  animation: iconeImagemduvidasElementor 4s ease-in-out infinite;
}
section.duvidas .imagem img.foguete {
  width: 100%;
  max-width: 40px;
  position: absolute;
  right: 25%;
  bottom: 35%;
  animation: iconeImagemduvidasFoguete 4s ease-in-out infinite;
}
@keyframes iconeImagemduvidasWordpress {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(20px, 0);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes iconeImagemduvidasElementor {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, 20px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@keyframes iconeImagemduvidasFoguete {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, -20px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 1000px) {
  section.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  section.duvidas .texto {
    align-items: center;
    padding: 60px 30px 40px 30px;
    width: 100%;
  }
  section.duvidas .texto h2 {
    font-size: var(--f5);
    text-align: center;
  }
  section.duvidas .texto p {
    font-size: var(--f2);
    text-align: center;
    max-width: 350px;
  }
  section.duvidas .texto .duvida {
    padding: 25px;
  }
  section.duvidas .texto .duvida .nome img {
    max-width: 12px;
  }
  section.duvidas .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0 70px 0;
    position: relative;
  }
  section.duvidas .imagem.tres {
    padding: 0 0 40px 0;
  }
  section.duvidas .imagem.dois img.homem {
    max-width: 150px;
  }
  section.duvidas .imagem.dois img.homem.dois {
    margin: 0 0 0 10px;
  }
  section.duvidas .imagem.tres img.homem {
    max-width: 130px;
  }
  section.duvidas .imagem img.homem {
    max-width: 300px;
  }
  @keyframes homemApresentacao {
    0% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
    50% {
      filter: brightness(110%);
      transform: translate(-30px, 0);
    }
    100% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
  }
  section.duvidas .imagem.tres img.nuvem {
    max-width: 300px;
  }
  section.duvidas .imagem img.nuvem {
    max-width: 350px;
  }
  section.duvidas .imagem.dois .quadro.um {
    top: 0;
  }
  section.duvidas .imagem.dois .quadro.dois {
    bottom: 30px;
  }
  section.duvidas .imagem .quadro {
    background-color: #ffffff87;
    padding: 15px 20px;
  }
  section.duvidas .imagem .quadro img {
    max-width: 120px;
  }
  section.duvidas .imagem .quadro.um {
    top: 0;
    left: 30px;
  }
  section.duvidas .imagem .quadro.dois {
    bottom: 50px;
    right: 30px;
  }
  section.duvidas .imagem img.wordpress {
    max-width: 30px;
  }
  section.duvidas .imagem img.elementor {
    max-width: 30px;
  }
  section.duvidas .imagem img.foguete {
    max-width: 30px;
  }
}
